
 #principio{
    margin-top: 1px; /* Altura del navbar */
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding: 11%;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: white;/*color de la letra*/
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), /*fondo gradiente de la imagen (se ve un toque mas oscuro)*/
        rgba(0,0,0,0.5) /*para que se pueda leer el texto*/
    ),url(../img/presentacion.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; /*para que siempre centre la imagen*/
}

#parrafo {
    padding: 5%;
    font-size: 20px;
    text-align: justify;
}

 .footer {
     position: absolute;
     bottom: 0;
     width: 100%;
 }

 body {
     position: relative;
     min-height: 100vh;
 }

 h2{
    color: white;
 }

 .gradient-custom-2 {
    /* fallback for old browsers */
    background: #0a3440;

    background-color: #0a3440;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #6EB157, #1B9142, #327CC1, #1C5A95);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #6EB157, #1B9142, #327CC1, #1C5A95);
}
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }